/* BuildingPlan.css */
/* BuildingPlan.css */
/* BuildingPlan.css */
.grid-container {
  display: grid; /* Change to grid */
  justify-content: center;
  align-items: center;
  height: 60vh; /* Reduce the height to leave space for the menu and title */
  grid-template-columns: 12% 12% 12%; /* Make three columns of 12% width each */
  grid-auto-rows: minmax(100px, auto); /* Set a minimum row height of 100px */
  gap: 10px;
  margin-top: 180px;/* Reduce the top margin to leave more space for the menu and title */
}

.menu, .title {
  position: absolute; /* Change to absolute positioning */
  top: 0; /* Position at the top of the page */
  width: 100%; /* Ensure they take up the full width */
  z-index: 2; /* Make the z-index higher than the image's */
}


.cell {
  border: 1px solid black;
  padding: 10px;
}

.door {
  display: block;
  width: 50px;
  height: 50px;
  margin: auto;
  background-color: lightgray;
  border: none;
}

.animated-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 80vh;
  overflow-y: auto;
}

.door-lockdown {
  background-color: red;
}